<h1>Edit Wiki</h1>

<div class="row">
 <div class="col-md-4">
   <p>Things to remember:</p>
   <ul>
    <li>Always cite your sources.</li>
    <li>No need to warn readers of spoilers.</li>
    <li>Non-free content must comply with U.S. copyright law.</li>
    <li>Plagiarism will get you banned. No exceptions.</li>
   </ul>
 </div>
 <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
 </div>
 <% if current_user.role == 'premium' %> 
 <h3>Manage Collaborators</h3>
 <table class="table table-striped">
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td>
      <% if @wiki.users.include? user %>
      <%= link_to "Remove Collaborator", wiki_collaborator_path(@wiki, @collab_wikis(user)), method: :delete, class: 'btn btn-danger' %> 
      <% else %> 
      <%= link_to "Add Collaborator", wiki_collaborator_path(@wiki, user_id: user.id), method: :post, class: 'btn btn-success' %> 
      <% end %> 
    </td>
  </tr>
  <% end %>
 </table>
 <% end %>
</div>