<h1>Edit Wiki</h1>

<div class="row">
 <div class="col-md-4">
   <p>Things to remember:</p>
   <ul>
    <li>Always cite your sources.</li>
    <li>No need to warn readers of spoilers.</li>
    <li>Non-free content must comply with U.S. copyright law.</li>
    <li>Plagiarism will get you banned. No exceptions.</li>
   </ul>
 </div>
 <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
 </div>
</div>